@font-face { src: url("krishna.ttf"); font-family: "krishna";  }
.pageBg{
	background: #323232; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMyMzIzMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyYjJiMmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #323232 0%, #2b2b2b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#323232), color-stop(100%,#2b2b2b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #323232 0%,#2b2b2b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #323232 0%,#2b2b2b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #323232 0%,#2b2b2b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #323232 0%,#2b2b2b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323232', endColorstr='#2b2b2b',GradientType=0 ); /* IE6-8 */
}
body{
	margin:0px;
	padding:0px;
	width:100%;
	font-family:'strait';
/*	background: -moz-linear-gradient(center top , #333333 0%, #2B2B2B 100%) repeat scroll 0 0 transparent;  */
}
a,a img{
	color:#510101;
	border:none;
	outline:none;
}
.mainBody{
  /* testing the changes */
}
.background{
	background: #7d0101; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkMDEwMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2NTEwMGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #7d0101 0%, #65100f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d0101), color-stop(100%,#65100f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7d0101 0%,#65100f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7d0101 0%,#65100f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7d0101 0%,#65100f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7d0101 0%,#65100f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d0101', endColorstr='#65100f',GradientType=0 ); /* IE6-8 */
	border-bottom: 1px solid #4A0404;
    border-top: 1px solid #9E2121;
}
.upperStripe{
	border-bottom: 1px solid #0E0E0E;
	height:30px;
	color:#FFF;
	font-weight:bold;
	padding-top:8px;
}
.englishTitle{
	word-spacing:.3em;
	font-weight:bold;
	font-size:1.1em;
}
.hindiTitle{
	font:1.4em 'krishna';
	float:right;
	margin-top:-5px;
	margin-right:50px;
	word-spacing:.2em;
	font-weight:bold;
}
.centerBox{
	width:990px;
	margin:0 auto;
}
.comma{
	font-family:verdana;
}
.downSpacing{
	margin-top:.8em;
}
.logoContainer{
	height:150px;
}
.logoContent{
	float:left;
	width:35%;
}
.logo{
	float:left;
}
.mainTitle{
	float:left;
	margin-top:20px;
	font-weight:bold;
	font-size:1.7em;
	text-align:justify;
	margin-left:15px;
	color:#CCC;
	font-family:verdana;
	text-shadow: 0px 1px 1px #4d4d4d;
      
}
.nitTitle{
	font-size:62px;
	font-weight:1800;
	letter-spacing:8px;
	line-height:50px;
}
.kurukshetra{
	font-size:22px;
	letter-spacing:1px;
	font-weight:900;
}
.menu{
	color:#FFF;
	width:100%;
	border-bottom: 1px solid #4A0404;
    border-top: 1px solid #9E2121;
    height:100%;
}

.menuContent{
	float:left;
	width:60%;
}

ul#menu
{
    margin:0;
    padding:0;
    border-bottom: 1px solid #651110;
    border-top: 1px solid #7D1717;
}
ul#menu > li
{
    list-style:none;
    float:left;
    margin:0;
    padding:0;
    text-transform:uppercase;
    width:14%;
    position:relative;
}
ul#menu > li:hover{
	background:#ccc;
	color:#000;
}
ul#menu a
{
    text-decoration:none;
    text-align:center;
    color:#fff;
    display:block;
    padding:7px;
}
ul#menu a:hover{
	background:#ccc;
	color:#000;
}
ul#menu > li ul.drop
{
	border:1px solid #7D1717;
	z-index:3;
	background: #323232; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMyMzIzMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyYjJiMmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #323232 0%, #2b2b2b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#323232), color-stop(100%,#2b2b2b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #323232 0%,#2b2b2b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #323232 0%,#2b2b2b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #323232 0%,#2b2b2b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #323232 0%,#2b2b2b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323232', endColorstr='#2b2b2b',GradientType=0 ); /* IE6-8 */
    margin:0;
    padding:0;
    width:150px;
    position:absolute;
    display:none;
}
ul#menu > li ul.drop ul
{
	border:1px solid #7D1717;
	background: #323232; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMyMzIzMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyYjJiMmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #323232 0%, #2b2b2b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#323232), color-stop(100%,#2b2b2b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #323232 0%,#2b2b2b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #323232 0%,#2b2b2b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #323232 0%,#2b2b2b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #323232 0%,#2b2b2b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323232', endColorstr='#2b2b2b',GradientType=0 ); /* IE6-8 */
    margin:0;
    padding:0;
    width:200px;
    position:absolute;
    display:none;
    left:150px;
    top:0;
    z-index:2;
}
ul#menu > li ul li
{
    margin:0;
    padding:0;
    list-style:none;
    position:relative;
    z-index:2;
}

.searchBar{
	float:right;
	padding:20px 0px 20px 20px;
	color:#CCC;
}
.searchBar input[type=text]{
    -moz-border-radius: 5px 5px 5px 5px;
    border-color: rgba(0, 0, 0, 0.25) -moz-use-text-color rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-style: solid none solid solid;
    border-width: 1px 1px 1px 1px;
    font-size: 1em;
    height: 1.5em;
    line-height: 1.5em;
    margin-bottom: 0;
    padding: 0.375em 0 0.375em 0.55em;
    vertical-align: top;
    width: 15em;
}
.searchBar input[type=submit]{
	-moz-border-radius:5px 5px 5px 5px;
   background: #323232; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMyMzIzMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyYjJiMmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #323232 0%, #2b2b2b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#323232), color-stop(100%,#2b2b2b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #323232 0%,#2b2b2b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #323232 0%,#2b2b2b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #323232 0%,#2b2b2b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #323232 0%,#2b2b2b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323232', endColorstr='#2b2b2b',GradientType=0 ); /* IE6-8 */
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    height: 2.965em;
    left: -4px;
    line-height: 2.25em;
    margin: 0;
    padding: 0 1em;
    position: relative;
    width: 60px;
    cursor:pointer;
}
.topMenu{
	float:right;
	width:100%;
	height:2em;
	text-align:right;
	color:#CCC;
	margin-top:20px;
}
.topMenu img{
	width:27px;
	height:25px;
	padding:0;
	margin:0;
	opacity:.8;
}
.topMenu a{
	display:inline-block;
	top:-5px;
	color:#CCC;
	text-decoration:none;
	position:relative;
	top:-6px;
	font-size:.7em;
	letter-spacing:.17em;
}
.topMenu a:hover{
	color:#FFF;
	text-decoration:underline;
}

.slideShowContainer{
	height:300px;
	background:#CCC;
	border-bottom:2px solid #7D0101;
}
.slideShowContainer img{
	height:300px;
	width:100%;
	padding:0;
	margin:0;
	border:0;
}
#slider .clicker a {width: 11px; height: 11px; background: #fff; margin-right: 2px; border-radius: 5px; -moz-border-radius: 5px;}
#slider .clicker a.active {background: #7d0101;}
		
.belowContainer{
	background:#fff;
	display:inline-block;
	width:100%;
	padding-bottom:30px;
}
.readMore{
	text-align:center;
	width:100%;
	display:block;
	font-size:.8em;
	background:#ccc;
	color:#000;
}
.newsFloat{
	position:absolute;
	bottom:0;
}
.marquee{
	padding:20px 0px 20px 0px;
}
.latestText{
	float:left;
	margin-right:5px;
}
.marqueeNews{
	float:left;
	width:62.5%;
	padding:0;
	margin:0;
	display:inline;
}
.marqueeNews li{
	float:left;
	margin-left:40px;
	text-decoration:none;
	list-style:square;
}
.archieve{
	float:right;
	display:inline;
	padding:0px;
	margin:0px;
}
.archieve li{
	float:left;
	list-style:none;
	margin-right:20px;
	line-height:2em;
	
}
.archieve a{
	position:relative;
	display:inline-block;
	top:-5px;
	text-decoration:none;
}
.topicTitle{
	color:#fff;
	width:100%;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	display:block;
	height:30px;
	text-align:center;
	padding-top:8px;
}
.belowTopics{
	padding:0;
	margin-top:20px;
}
.belowTopics li{
	margin:0px 20px 0px 0px;
	float:left;
	list-style:none;
	width:20%;
	max-height:200px;
}
.belowContent{
	max-height:150px;
	min-height:150px;
	overflow:hidden;
	margin:0;
	padding:0;
	border:1px solid #ccc;
	margin-left:6px;
	width:94%;
}
.belowContent li{
	list-style-type:square;
	float:none;
	margin:5px 5px 0px 20px;
	border:0px solid #FFF;
	width:100%;
	line-height:12px;
}

.belowContent img{
	display:inline;
}
.belowContent a{
	font-size:.9em;
	color:#000;
	text-decoration:none;
	
}

#news{
	width:31.4%;
	position:relative;
	overflow:hidden;
	max-height:205px;
	min-height:205px;
}
#news li{
	width:91%;
	padding:2px;
	border-bottom:1px solid #000;
}
#ticker{
	max-height:250px;
}
#news a{

}

.sideNav{
	color: #7d0101;
	padding:50px 0px 10px 25px;
	margin:0;
	text-transform:uppercase;
}
.sideNav li{
	margin-top:8px;
}
.sideNav a{
	text-decoration:none;
}
.sideBar{
	width:20%;
	background:#CCC;	
	float:left;	
}
.mainContent{
	padding:0px 10px 10px 10px;
	float:left;
	color:#000;
	width:75%;
}
.mainContent p{
	font-size:.9em;
	text-align:justify;
	font-family: 'Sintony', sans-serif;
}
.mainContent h1{
	font-size:1.7em;
	text-transform:uppercase;
}
.mainContent table,.mainContent ul{
	font-family: 'Sintony', sans-serif;
	font-size:.9em;
}
.fullContent{
	width:100%;
}
.clear{
	clear:both;
}

.footer{
	width:100%;
	height:50px;
	color:#fff;
	text-align:center;
	z-index:3;
}
.success{
	color:green;
}
.error{
	color:red;
}
.footer a{
	color:#fff;
}

.noticeList{
	list-style-type:square;
	color:green;
	line-height:1.4em;
}
.noticeList a{
	text-decoration:none;
}
.deptContent{
	float:left;
	width:75%;
}
.deptSideNav{
	background:#CCC;
	color: #7d0101;
	width:22%;
	text-transform:uppercase;
	padding-top:80px;
	float:right;

}
.deptSideList a{
	text-decoration:none;
}
.deptSideList{
	padding:0px 5px 10px 20px;
}
.deptSideList li{
	margin-top:8px;
}
.copyright{
	font-size:1em;
	font-family:'verdana';
}
.blink{
	font-weight:bold;
	color:red;
	font-size:.6em;
	text-decoration:blink;
}
.photoBox{
	float:left;
}
.infoBox{
	float:left;
	padding-left:20px;
}
.infoData{
	line-height:2em;
}
.profileBox{
	padding:2em 0em 0em 8em;
}
.albumList{
	margin:0;
	padding:0;
}
.albumList li{
	list-style:none;
	height:200px;
	width:200px;
	display:block;
	float:left;
	padding:10px;
	background:#CCC;
	margin-left:4em;
	margin-top:2em;
}

.albumList img{
	width:100%;
	height:100%;
}
.albumList span{
	background:#CCC;
	width:100%;
	display:block;
	text-align:center;
}
